/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container-fluid {
  margin-left: 16px;
}

input.numeric {
  height: 32px;
  width: 90%;
  font-size: 24px;
  font-weight: bold;
  padding: 4px;
  padding-right: 0px;
}

input#cpu_sp,
input#cpu_pc,
input#cpu_a,
input#cpu_b,
input#cpu_c,
input#cpu_code,
input#cpu_data,
input#cpu_f
{
  width: 60%;
}

input#cpu_pc,
input.pc
{
  /*background: #ff7675;*/
  /*background: #db8f86;*/
  background: #ecc;
}

input#cpu_b,
input.b
{
  background: #cec;
}

input#cpu_c,
input.c
{
  background: #eec;
}

input#cpu_sp,
input.sp
{
  /*background: #74b9ff;*/
  /*background: #70c0ca;*/
  background: #cee;
}

input.pc.sp {
  background-image: linear-gradient(90deg,#db8f86,#70c0ca)
}

textarea#cpu_message,
textarea#code {
  resize: none;
  overflow: auto;
  height: 292px;
  width: 90%;
}

#pc_name {
  width: 80%;
}

.form-group {
  margin-bottom: 4px;
}

textarea.text {
  width: 168px;
}