/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 60px;
}

input.numeric {
  height: 48px;
  width: 96px;
  font-size: 40px;
  font-weight: bold;
}

input#cpu_pc,
input.pc
{
  background: #db8f86;
}

input#cpu_sp,
input.sp
{
  background: #70c0ca;
}

input.pcsp {
  background-image: linear-gradient(90deg,#db8f86,#70c0ca)
}

textarea#cpu_message {
  resize: none;
  overflow: auto;
  height: 400px;
}

#led_on, #led_off {
  height: 48px;
  width: 96px;
  text-align: center;

  font-size: 32px;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#led_off {
  background: #cccccc;
}

#led_on {
  background: #e4dda5;
}